.container {
    display: inline-block;
    padding: 14px 24px;
    background-color: #4BE0D0;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container:hover {
   cursor: pointer;
   background-color: #4BE0A0;
}