
.container {
    width: 900px;
    margin: 0 auto;
}

.search_input {
    border-radius: 30px;
    font-weight: 600;
    border: 0;
    outline: 0;
    margin-right: 15px;
    padding: 14px 24px;
    width: 600px;
}

@media (max-width: 900px) {
    .container {
        width: auto;
    }
}

@media (max-width: 500px) {
    .search_input {
        width: auto;
        margin-bottom: 15px;
        margin-right: 0;
    }
}