.search_container {
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.result_container {
    display: flex;
    padding: 0 40px;
}

.result_container_title {
    margin: 40px 0px;
}

.result_text_title {
    font-size: 25px;
}

@media (max-width: 500px) {
    .search_container {
        flex-direction: column;
    }
}